

<h3>What mood are you in?</h3>
  <% @interestChunks.each do |chunk| %>
    <div class="square">
        <div class="content">
                    <%= button_to  chunk[0].name, {:controller => "mood", :action => "create", :interest_id => chunk[0].id} , :method=>:post , :class=> "content",:style => "width:100%;color:white;text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black",  :id => chunk[0].name %>
          
                  
    </div>
  </div>


    <div class="square">
        <div class="content">
                   <%= button_to chunk[1].name, {:controller => "mood", :action => "create", :interest_id => chunk[1].id} , :method=>:post , :class=> "content",:style => "width:100%;color:white;text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -2px black",  :id => chunk[1].name  %>

        </div>
    </div>
    <div class="square">
        <div class="content">

                   <%= button_to chunk[2].name, {:controller => "mood", :action => "create", :interest_id => chunk[2].id} , :method=>:post , :class=> "content",:style => "width:100%;color:white;text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black",  :id => chunk[2].name  %>

        </div>
    </div>

<% end %>


<br><br>
<p> <%= link_to 'Current Users:', users_path %> <%= User.count %></p>
