<h3>What mood are you in?</h3>
<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
      <h1>Interests</h1>
<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <div class="container">
    <%# <%= form_for('mood', :as => 'mood', :url => 'mood', :html => { :role => 'form'}) do |f| %>

      </div>
    <% @interestList.each do |interest| %>


      <%= button_to interest.name, {:controller => "mood", :action => "create", :interest_id => interest.id} , :method=>:post %>

    <% end %>
           <%# <%= f.submit 'Sign in', :class => 'button right' %>
     <%# <% end %>

    </div>


  </tbody>
</table>

  </tbody>
</table>







<p> OLD: <%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
