
<div class="container">
  <div class="row">


<br><br><br>

          <div class="panel-body">
            <div class="pull-right">
              <div class="btn-group">
                <button type="button" id ="prfcBut" class="btn btn-success btn-filter" onclick="hideRcvd()" data-target="match">A Perfect Match ! </button>
                <button type="button" id= "oneWayBut" class="btn btn-warning btn-filter" onclick="hideMatch()" data-target="rcvd">Wanna Meet ?</button>
              </div>
            </div>
            <div class="table-container" >
              <table class="table table-responsive" >
                <tbody>
                  <% @matchedUsers.each do |matchUsr| %>
                    <tr data-status= <%= matchUsr['type'] %>>
                    <td>
                      <div class="ckbox">
                        <input type="checkbox" id="checkbox3">
                        <label for="checkbox3"></label>
                      </div>
                    </td>
                    <td>
                      <a href="javascript:;" class="star">
                        <i class="glyphicon glyphicon-star"></i>
                      </a>
                    </td>
                    <td>
                      <div class="media" >
                        <a href="#" class="pull-left">
                          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                        </a>
                        <div class="media-body">
                          <span class="media-meta pull-right">Feb 13, 2017</span>
                          <h4 class="title">

                            <%= matchUsr['personid'] %>
                            <span class="pull-right pendiente"><%= matchUsr['type'] %></span>
                            <button type="button" id =<%= matchUsr['type'] %> class="btn btn-success btn-filter" onclick="redirectMap()" >
                          </h4>
                          <p class="summary">Congrats..you got a match !</p>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        
        <div class="content-footer">   

          <div id= "paging"></div>
        </div>
      <script>pageFunction(<%= @totalpages%>)</script>
   
    
  </div>
</div>