<div class="container">
  <div class="row">
    <h3>Meet</h3>
    <div class="column">
      <% @users.each do |user| %>
        <div class="card center">
          <div class="card-img">
            <% if user.avatar? %>
              <%= image_tag user.avatar.url(:thumb) %>
            <% else %>
              <%= image_tag "default_profile_image.png" %>
            <% end %>
          </div>
          <%= link_to user.name, user %>
          <br />
          <%= link_to user.email, user %>
          <br />
          <div class="btn-group">
            <%= button_to 'Like!', meet_index_path, class: "btn btn-primary", method: :post, :id => "like-btn", params: {primuser: current_user[:id], secuser: user.id, response: 'Y' } %>
            <%= button_to 'Dislike!', meet_index_path, class: "btn btn-danger", method: :post, :id => "dislike-btn", remote: true, params: {primuser: current_user[:id], secuser: user.id, response: 'N' }  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
