<div class="container">
  <div class="center">
    <h3>Meet</h3>
    <% @users.each_with_index do |user, index| %>
      <div class="card-center" >
        <div class="card-img1" style="background-image: url(<%= asset_path 'default_profile_image.png' %>);z-index:<%= index %>;">
          <% if user.avatar? %>
            <%= image_tag user.avatar.url(:medium) %>
          <% else %>
            <div class="card-img" style="background-image: url(<%= asset_path 'default_profile_image.png' %>);z-index:<%= index %>;">
            I'm here
            </div>
          <% end %>
        </div>
        <%= link_to user.name, user %>
        <br />
        <%= link_to user.email, user %>
        <br />
      </div>
    <% end %>
    <% if user_signed_in? %>
      <div class="btn-group">
        <div class="inner"><%= button_to 'Like!', meet_index_path, class: "btn btn-primary", method: :post, :id => "like-btn", params: {primuser: current_user[:id], secuser: '1', response: 'Y' } %></div>
        <div class="inner"><%= button_to 'Dislike!', meet_index_path, class: "btn btn-danger", method: :post, :id => "dislike-btn", remote: true, params: {primuser: current_user[:id], secuser: '1', response: 'N' }  %></div>
      </div>
    <% else %>
      <div class="btn-group">
        <div class="inner"><%= button_to 'Like!', meet_index_path, class: "btn btn-primary", method: :post, :id => "like-btn" %></div>
        <div class="inner"><%= button_to 'Dislike!', meet_index_path, class: "btn btn-danger", method: :post, :id => "dislike-btn", remote: true %></div>
      </div>
    <% end %>
  </div>
</div>
