
<div class="center">
  <h2>Meet</h2>
  <div class="card-center" id="content">
    <% if @users %>
      <% @users.each_with_index do |user, index| %>
        <% if user.avatar? %>
          <div class="card-img" data-id="<%= user.id %>" style="background-image: url(<%= user.avatar.url(:medium) %>);">
            <div class="user-name">
              <%= user.name  %>
            </div>
          </div>
        <% else %>
          <div class="card-img" data-id="<%= user.id %>" style="background-image: url(<%= asset_path 'default_profile_image.png' %>);">
            <div class="user-name">
              <%= user.name %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <div class="user">
        No user here!
      </div>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <div class="btn">
      <button class="btn btn-primary" id="like" data-session="<%= current_user[:id]%>" onclick="like()">Like</button>
      <button class="btn btn-danger" id="dislike" data-session="<%= current_user[:id]%>" onclick="dislike()">Dislike</button>
    </div>
  <% else %>
    <div class="btn">
      <button class="btn btn-primary" onclick="like()">Like</button>
      <button class="btn btn-danger" onclick="dislike()">Dislike</button>
    </div>
  <% end %>
</div>


