<li><%= link_to 'Matches', match_index_path %></li>

<% if user_signed_in? %>
  <%# <li><%= link_to 'Mood', mood_path%\\\\\\\\></li> %>
  <li> <%= link_to edit_user_registration_path do %>
    <%= image_tag current_user.avatar.url(:thumb), class: "round-image-50" %></li>
    <% end %>
  <%# <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %\\\\\\></li> %>

<% else %>
<li> <%= link_to edit_user_registration_path do %>
  <%= image_tag "default_profile_image.png", class: "round-image-50" %></li>
  <% end %>
  <%# <li><%= link_to 'Sign in', new_user_session_path %\\\\\\\\></li>  %>
  <%# <li><%= link_to 'Sign up', new_user_registration_path %\\\\\\\\></li> %>
<% end %>
