<li><%= link_to 'Mood', mood_index_path %></li>
<li><%= link_to 'Match', match_index_path %></li>

<% if user_signed_in? %>
  <%# <li><%= link_to 'Mood', mood_path%\\\\\\\\></li> %>

  <%# <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %\\\\\\></li> %>

<% else %>

  <%# <li><%= link_to 'Sign in', new_user_session_path %\\\\\\\\></li>  %>
  <%# <li><%= link_to 'Sign up', new_user_registration_path %\\\\\\\\></li> %>
<% end %>

<li><%= link_to 'Meet', meet_index_path %></li>
<li><%= link_to 'Profile', edit_user_registration_path %></li>

<%
=begin %> my old avatar in menu code -- obsolete
<li> <%= link_to edit_user_registration_path do %>
  <% if user_signed_in? %>
    <% if current_user.avatar? %>
        <%= image_tag current_user.avatar.url(:thumb), class: "round-image-50" %>
      <% else %>
        <%= image_tag "default_profile_image.png", class: "round-image-50" %>
    <% end %>
  <% else %>
    <%= image_tag "default_profile_image.png", class: "round-image-50" %>
  <% end %>
</li>
<% end %>
<%
=end %>
